@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');

.conocerColor{
    background-color: #464d49;
}


.contenedor{
    width: 90%;
    height: 50%;
    padding: 0.625rem;
    align-items: center;
    display: flex;
}

.product-image {
    display: flex;
    margin-left: 3.125rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid #005;
    /* Efecto de carta */
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}


.product-image img {width: 100%;height: 100%;}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #000;
    background-color: rgba(255,255,255,0.8);

}


.info h2 {
    text-align: center;
    font-size: .7rem;
}

.info p{
    text-align: center;
    font-size: .7rem;
}

@media screen and (max-width: 768px) {

    .contenedor{
        flex-direction: column;
    }

    .product-image{
        width: auto;
        height: auto;
        margin-left: 0;
    }
    .info{
        flex-direction: column;
    }

}