.formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.content-encuesta {
  background: #fff;
  padding: 50px;
  border: 2px solid #000;
  grid-column: span 5;
}

#formulario_nombre,
#formulario_apellido,
#formulario_fecha,
#formulario_sexo,
#formulario_email {
  grid-column: span 1;
  width: 100%;
  height: 2.5rem;
  font-size: large;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.radios {
  grid-column: span 2;
  width: 100%;
}

.botones {
  grid-column: span 2;
  width: 100%;
}

.lblRadios {
  display: block;
  margin-bottom: 10px;
  font-size: 1.25rem;
}

#btnEnviar,
#btnCancelar,
#btnRestablecer {
  width: 9.375rem;
  height: 2.5rem;
}

#btnEnviar {
  background: rgb(29, 114, 3);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 2px solid rgb(29, 114, 3);
  cursor: pointer;
}

#btnCancelar {
  background: rgb(158, 2, 2);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 2px solid rgb(114, 3, 3);
  cursor: pointer;
}

#btnRestablecer {
  background: rgb(138, 135, 2);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 2px solid rgb(138, 135, 2);
  cursor: pointer;
}

#formulario_interes {
  margin-bottom: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .formulario {
    grid-template-columns: repeat(1, 1fr);
  }

  .content-encuesta {
    grid-column: span 5;
  }

  #formulario_nombre,
  #formulario_apellido,
  #formulario_fecha,
  #formulario_sexo,
  #formulario_email {
    grid-column: span 2;
    width: 100%;
    height: 2.5rem;
    font-size: large;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }
}
