* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5f7;
  opacity: 1;
  font-family: "Manjari", sans-serif;
}

.container {
  background: #fff;
  width: 100%;
  display: grid;
  gap: 0.0em;
  /* Repite una fraccion 5 veces */
  grid-template-columns: repeat(5, 1fr);
}

.container > .header,
.container > .content,
.container > .sidebar,
.container > .footer,
.container > div {
  background: #fff;
  padding: 20px;
  border: 2px solid #000;
}


.container .header,
.container > .footer {
  grid-column: 1/6;
  background-color: #1e272e;
  opacity: 1;
  background-image: radial-gradient(#ffffff 1.35px, #1e272e 1.35px);
  background-size: 27px 27px;
  color: #fff;
}

.container .header nav{
  display: flex;
}

.container .header nav a img{
  width: 3.125rem;
}

.container .header nav h1 {
  margin: auto;
}

.container .redes {
  grid-column: span 2;
  background: #1e272e;
  color: #fff;
}

.container .redes ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 12px;
}

.container .redes ul li i {
  font-size: 1.5em;
  padding-left: 17px;
  padding-top: 10px;
}

.container .redes ul li a {
  color: #fff;
  text-decoration: none;
}

#fb:hover {
  color: #3b5998;
}

#tw:hover {
  color: #1da1f2;
}

#ig:hover {
  color: #e1306c;
}

.content > .article {
  padding: 20px;
  margin-top: 5px;
  border: 2px solid #000;
}

.container .contacto {
  grid-column: span 3;
  background: #1e272e;
  color: #fff;
}

.container > .content {
  /* Con el span podemos decir que abarque 3 columnas */
  grid-column: span 5;
}

.content > .article {
  background: #ffffff;
  padding: 20px;
  margin-top: 5px;
  color: #dfe6e9;
}

.content .article h1,
.content .article p {
  padding: 10px;
}

.container > .footer p {
  color: #fff;
  text-align: center;
}

.container > .sidebar {
  grid-column: span 5;
  background-color: #1e272e;
  opacity: 1;
  background-image: radial-gradient(#ffffff 1.35px, #1e272e 1.35px);
  background-size: 27px 27px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.sidebar div ul{
  /* Agrupar todos los items */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 12px;
}

.sidebar div ul li {
  margin-top: 1.25rem;
  padding: 0.625rem;
  margin-left: 1.5rem;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.sidebar div ul li:hover {
  border-bottom: 2px solid rgb(27, 150, 180);
}

.sidebar div ul li a {
  color: rgb(214, 214, 214);
  text-decoration: none;
  font-size: 1.25rem;
}

.sidebar div ul li a:hover {
  font-style: italic;
}

.article .aling{
  border-bottom: 2px solid rgb(0, 65, 119);
}

.article .aling .button {
  color: rgb(0, 0, 0);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  align-self: flex-end;
  font-weight: bold;
  font-size: 16px;
  margin: 1px;
  cursor: pointer;
}

article .aling .button1:hover {
  color: rgb(9, 195, 241);
  text-decoration: underline;
  font-style: italic;
}

.article .aling h2 {
  font-weight: bold;
  /* Poner en el centro  */
  text-align: center;
  color: rgb(0, 0, 0);
  padding-bottom: 1.25rem;
}

.content > .article > .aling > .button1 {
  float: right;
}

.contentPrecio{
  display: flex;
  flex-direction: row;
  background: #e1306c;
  width: 100%;
  height: 100%;
}

.carrito{
  display: flex;
  flex-direction: row;
  margin-top: 1.25rem;
  background: #e1306c;
  border-radius: 5px;
  padding: .3rem;
}

.totalCarrito{
  margin-left: 1.25rem;
}


#txtCarrito,
.totalCarrito{
  font-size: 30px;

}

@media screen and (max-width: 768px) {
  .header nav{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header nav a img {
    padding: 1.25rem;
  }

  .container .content {
    /* -1 quiere decir = abarca todo el ancho posible */
    grid-column: 1 / -1;
  }

  .container .sidebar {
    grid-column: 1 / -1;
  }

  .sidebar div ul {
    /* Agrupar todos los items */
    display: flex;
    flex-direction: column;
  }

  .sidebar div ul li {
    /* centrar */
    margin: auto;
    margin-top: 1.25rem;
    padding: 0.625rem;
  }

  .container .redes ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    align-items: center;
  }

  .container .redes ul li {
    margin-top: 10px;
  }
}
