* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(
    #151622 1.1500000000000001px,
    #e5e5f7 1.1500000000000001px
  );
  background-size: 23px 23px;
  font-family: "Manjari", sans-serif;
}

.container {
  background: #fff;
  width: 100%;
  display: grid;
  gap: 0em;
  /* Repite una fraccion 5 veces */
  grid-template-columns: repeat(5, 1fr);
}

.container > .header,
.container > .content,
.container > .sidebar,
.container > .footer,
.container > div {
  background: #fff;
  padding: 20px;
  border: 2px solid #000;
}

.container .header,
.container > .footer {
  grid-column: 1/6;
  background-color: #1e272e;
  opacity: 1;
  background-image: radial-gradient(#ffffff 1.35px, #1e272e 1.35px);
  background-size: 27px 27px;
  color: #fff;
}


.container .header nav{
  display: flex;
}

.container .header nav a img{
  width: 3.125rem;
}

.container .header nav h1 {
  margin: auto;
}

/* Contenedor principal */

.container > .content {
  /* Con el span podemos decir que abarque 3 columnas */
  grid-column: span 5;
}

/* Cajas de los articulos */
.content > .article {
  border: 2px solid #000;
  padding: 20px;
  margin-bottom: 10px;
  display: grid;
  grid-column: span 3;
  /* Repite una fraccion 5 veces */
  grid-template-columns: repeat(3, 1fr);
}

/* Contenido */

.content > .article h2 {
  grid-column: span 3;
  text-align: center;
  border-bottom: 2px solid rgb(0, 65, 119);
  margin-bottom: 20px;
}

.article .imagen {
  grid-column: span 1;
  width: 70%;
  height: 200px;
}

.imagen .imgP {
  width: 100%;
  height: 100%;
}

.article .detalles {
  grid-column: span 2;
  width: auto;
  height: auto;
  border: 2px solid #000;
  display: flex;
}

.article .detalles .descripcion {
  background: #0a5583;
  width: 70%;
  height: auto;
  border: 2px solid #000;
}

.txtDescripcion {
  padding: 20px;
}

.article .detalles .carrito {
  background: #064146;
  width: 30%;
  height: auto;
  border: 2px solid #000;
}

.article .detalles .carrito:hover {
  background: #08b851;
  cursor: pointer;
}

.descripcion .detalle {
  padding: 10px;
  text-align: justify;
}

.carrito .precio {
  /* Poner en el centro */
  text-align: center;
  padding-top: 10px;
}

.carrito #iconoCarrito {
  color: #e1306c;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 15px;
}

/* Footer */

.container .redes {
  grid-column: span 2;
  background: #1e272e;
  color: #fff;
}

.container .redes ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 12px;
}

.container .redes ul li i {
  font-size: 1.5em;
  padding-left: 17px;
  padding-top: 10px;
}

.container .redes ul li a {
  color: #fff;
  text-decoration: none;
}

#fb:hover {
  color: #3b5998;
}

#tw:hover {
  color: #1da1f2;
}

#ig:hover {
  color: #e1306c;
}

.container .redes ul p {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.container .contacto {
  grid-column: span 3;
  background: #1e272e;
  color: #fff;
}

.container > .footer p {
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header nav{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header nav a img {
    padding: 1.25rem;
  }

  .container .redes ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    align-items: center;
  }

  .container .redes ul li {
    margin-top: 10px;
  }

  /* Contenido */
  .article .imagen {
    grid-column: span 3;
    justify-self: center;
  }
  
  .article .detalles {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
  }

  .article .detalles .descripcion {
    background: #1da1f2;
    width: auto;
  }

  .txtDescripcion {
    padding: 20px;
    text-align: center;
  }

  .article .detalles .carrito {
    background: #48d108;
    width: auto;
    border: 2px solid #000;
  }


}
